.venv
virtualenv
todo.txt
.DS_Store
core_tracking/experiment_.ipynb
core_tracking/mediapipe_face_body_info.py
core_tracking/.ipynb_checkpoints/experiment_-checkpoint.ipynb
core_tracking/.ipynb_checkpoints/experiment_-checkpoint.ipynb
test.py
core_tracking/face_lm_audio.py
core_tracking/face_lm_audio.py
core_tracking/__pycache__
__pycache__
